<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Test Experiment Groups</title>
</head>
<body>
  <div id="group-index">
    <h2>Experiment Groups</h2>
    <table class="group-listing">
        <thead>
            <tr><th>Group ID</th><th>Group Name</th></tr>
        </thead>
        <tbody>
            <tr py:for="grp in exp_grps">
                <th class="group-id">${grp.exp_group_id}</th>
                <td class="group-name">${grp.exp_group_name}</td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="clearingdiv" />
</body>
</html>
